body {
background: url(./blue-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Serif JP' !important;
}

.grid-image {
    width: 100%;
    height: auto;
}

.parent {
    margin: 0;
    padding: 0;
}

.margin-bottom {
    margin-bottom: 1000px;
}

@media (min-width: 768px) {
    .modal-xl {
     width: 90%;
     max-width:1200px;
    }
}

