body {
background: url(./blue-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Serif JP' !important;
}

.grid-image {
    width: 100%;
    height: auto;
    -webkit-filter: brightness(100%);
}

.grid-image:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.parent {
    margin: 0;
    padding: 0;
}

.margin-bottom {
    margin-bottom: 1000px;
}

@media (min-width: 768px) {
    .modal-xl {
     width: 90%;
     max-width:1200px;
    }
}

