html {
    height: 100%;
}
body {
    height:100%;
}
/* .header-text {
    height: 16%;
} */
.grid-image {
    width: 300px;   
    height: auto;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    /* border: 1px solid orange; */
}

/* .grid-container {
    border: 1px solid black;
    height: 84%;
    display: flex;
    flex-direction: column;
} */

/* .images-row {
    flex: 1;
} */

.grid-image:hover {
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.parent {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid grey; */
    justify-content: center;
}

.margin-bottom {
    margin-bottom: 1000px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .odd-image {
        margin-left: 14%;
    }
    .even-image {
        margin-right: 14%;
    }
  }
@media (min-width: 992px) {
    .modal-xl {
     width: 90%;
     max-width:1200px;
    }

    .grid-container {
        height: 84%;
        display: flex;
        flex-direction: column;
        /* border: 1px solid blue; */
    }
    .images-row {
        flex: 1;
        /* border: 1px solid purple; */
    }
    .header-text {
        height: 16%;
    }
    .teaching-header-text {
        height: 10%;
    }
}

@media (max-width: 992px) {
    .big4-image{
        width: 50vw !important;
    }
}

@media (max-width: 576px) { 
    .big4-image{
        width: 70vw !important;
    }
}



.red {
    border: 1px solid red;
}



.full {
    height: 100vh;
}

.main-image {
    height: 40vh;
    border: 1px solid orange;
    align-self: center;
    margin: 1.5%;
}

.green {
    border: 1px solid green;
}



.big4-image {
 width: 20vw;
 display: block;
 margin: 0 auto;
}



.fun-image {
    height: 30vh;
    margin: 0 auto;
    display: block;
}

@media (max-width: 768px) { 
    .fun {
        display: none;
    }
    .full {
        height: auto;
    }
}

.fun {
    height: 40vh;
}



.black {
    border: 1px solid black;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-row {
    display: flex !important;
    flex: 1 !important;
}

.flex-box {
    width: 200px;
    height: 100px;
    display: flex;
    background-color: red;
}

.big4-image-container {
    display: flex;
    align-items: center;
}



.big4-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.main-image-container {
    display: flex;
    flex-direction: column;
}

.profile-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big4-heading {
    color: blue !important;
}

.work-container, .teaching-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.full-width {
    width: 100%;
}

.work-sub-container {
    flex-basis: 300px;
}
.teaching-sub-container {
    flex-basis: 500px;
}

.teaching-image {
    width: 50vw !important;
}

@media (max-width: 768px) { 
    .teaching-image {
        width: 80vw !important;
    }
}
